.vacancy {
    border-radius: 16px;
    background-color: #FFF;
    padding: 16px;
}

.vacancy__img {
    margin-bottom: 12px;
}

.vacancy__company {
    font-size: 20px;
    margin-bottom: 11px;
}

.vacancy__title {
    margin-bottom: 11px;
}

.vacancy__fields {
    color: #ccc;
}

.vacancy__field {}